body {
  margin: 0;
  padding: 0;
}
.HeadingD {
  font-family: "poppins", "Courier New", Courier, monospace;
  width: 80%;
  margin: 0px 10%;
  padding-top: 100px;
}
.department {
  font-family: "poppins", "Courier New", Courier, monospace;
  width: 80%;
  margin: 0px 10%;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.department > h1 {
  margin-top: 10px;
}
.cardD {
  margin: 25px 20px 25px 20px;
  background: #fdfdff;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  max-width: 230px;
  height: 250px;
  display: flex;

  color: #3f3f3f;
}
#deptName {
  margin: 10px;
  padding: 0 15px;
}

.cardD > p {
  width: 182px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.04em;
  color: inherit;
}

#Departments_heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #06ca3d;
  height: 57px;
  margin-bottom: 43px;
}

.cardD:hover {
  cursor: pointer;
  background-color: var(--hover_color);
  color: #fdfdff !important;
}

.imgDescription_Dep {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 20%;
  /* margin: 100px 0px; */
  justify-content: space-around;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 131%;
  justify-content: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.button {
  width: inherit;
  justify-content: center;
}

.button > a > button {
  width: 188px;
  height: 34.74px;
  left: 626px;
  top: 3283px;
  background: rgba(2, 107, 161, 0.6);
  border-radius: 17.029px;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12.2609px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.button > a > button:hover {
  cursor: pointer;
}

.crouselDep {
  margin: 80px 0 !important;
}

.whiteD {
  color: #ffffff;
}

@media only screen and (max-width: 450px) {
  .imgDescription_Dep {
    padding: 0px 9%;
  }
}
#dept {
  width: 100%;
  border-radius: 6px 6px 0 0;

  height: 140px;
  margin-top: -10px;
  margin-bottom: 10px;
}
