.objective {
  display: flex;
  width: 80%;
  margin-left: 10%;
  flex-wrap: wrap;
  justify-content: center;
}
.aboutDiv {
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  margin: 10px 60px 10px 80px;
  padding: 30px;
  font-family: "poppins", "Courier New", Courier, monospace;
}
.aboutImage {
  width: 30%;
}
.adminBody {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.adminBodyDiv {
  margin-top: 150px;
}
#adminHeading {
  margin: 0 0 30px 0;
}
.adminBodyImage {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.student {
  width: 80%;
  max-height: 4000px;
  display: flex;
  border-radius: 10px;
  background: #dedede;
  margin-bottom: 100px;
  margin: 50px 0 100px 10%;

  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
.stuselection {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  justify-content: center;
}
.stuButton {
  margin: 20px 10px 20px 10px;
}
#studentHeading {
  margin-top: 100px;
}

.Secy {
  display: flex;
  justify-content: center;
}
.secyImage {
  margin: 30px;
  border-radius: 25px 25px 0 0;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.team {
  width: 70%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-left: 10%;
}
.teamEle {
  margin: 20px;
  border-radius: 50px;
  width: 210px;
  height: 310px;
  box-shadow: 20px 20px 60px #bdbdbd, -20px -20px 60px #ffffff;
}
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
