@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
}

.container {
  width: 95%;
  padding: 0 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.navbar {
  
  width: 100%;
  height: 4%;
  background-color: #ffffff;
  padding:20px 5px;
  z-index: 6;
  transition: transform 0.2s;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  border-radius: 0 0 10px 10px;
}
.hamburger{
  display :none;
}

.navbar:hover {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 15px 15px 15px 15px;
}
#pic {
  height: 50px;
  width: 100px;
  /* margin-top: 50px; */
  /* padding-top: 4px; */
  /* position: relative; */
}
.nav-elements{
  display:flex;
  justify-content: space-around;
  height:5rem;
  align-items: center;
  width:100%;
}

.nav-elements ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 90px;
}
#blg {
  /* margin-right: 200px; */
}
#cont {
  /* margin-right: -90px; */
}
.nav-elements ul a, .nav-elements span {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  line-height: 5em;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
  font-style: bold;
}

.nav-elements ul a.active ,.mobilenav ul a.active{
  color: #03789f;
  font-weight: 450;
  position: relative;
}

.nav-elements ul a.active::after ,.mobilenav ul a.active::after{
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.mobilenav{
  position:absolute;
  top:20px;
  right:0;
  width:40%;
  background-color: #ffffff;
  max-height: 100vh; /* Set the maximum height to the viewport height */
  overflow: auto;  
}
.cross{
  position: absolute;
  right:2rem;
}
.mobilenav ul li{
  list-style-type: none;
}

.mobilenav ul{
  padding: 0;
}


.mobilenav ul a{
  
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #2f234f;
  font-size: 20px;
  line-height: 3em;
  
}

@media(max-width:1050px){
  .nav-elements ul li:not(:last-child) {
    margin-right: 50px;
  }
}

@media(max-width:770px){
  .nav-elements li,.nav-elements span{
    display: none;
  }
  .hamburger{
    display: flex;
    margin-right: 10px;
  }
  .nav-elements{
    justify-content: space-between;
  }
 
}
@media(max-width:500px){
  .mobilenav{
    width:60%;
  }
}
