@font-face {
  font-family: sansation-regular;
  src: url(./sansation/Sansation-Regular.ttf);
}
@font-face {
  font-family: sansation-bold;
  src: url(./sansation/Sansation-Bold.ttf);
}
.main_container {
  width: 95%;
  position: relative;
  left: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.HigherStudies__Carousel {
  /* width: 90%;
  margin: 6rem 0;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5rem;
  height: 250px;
  align-items: center; */
  width: 1040px;
  height: 298px;

  background: #ffffff;
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 45px;
  margin-left: 200px;
}

#PartFirst {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 131%;
  /* or 18px */

  text-align: center;
  letter-spacing: 0.05em;
}

.HS__CarouselSpace {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  column-gap: 6.663rem;
  padding-left: 20px;
}

.HS__CarouselImg {
  position: relative;
  max-width: 40%;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 180px;
  height: 238px;
}
#desig {
  width: 128px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
  /* or 24px */

  color: #323232;
}

.HS__CarouselImg img {
  max-width: 17rem;
  width: 100%;
}

.HS__CarouselBg {
  margin-top: 25%;
}

.HS__CarouselPic {
  position: absolute;
  transform: scale(0.9);
  border-radius: 20px;
  margin-top: 0px;
  width: 180px;
  height: 180px;
  margin-left: -95px;
}

.HS__CarouselData {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#tfeatured {
  position: relative;
  text-align: left;
}
#txt {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  /* text-align: left; */
  z-index: 1;
}

.HS__CarouselData > h2,
.HS__CarouselData > h4 {
  margin: 0;
  width: 74px;
  height: 22px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  /* identical to box height, or 22px */

  color: #595b5f;
}

.HS__CarouselData > p,
.HS__CarouselData > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.04em;
  font-size: 17px;
  color: #000000;
  margin: 0;
  text-align: justify;
}

.HS__CarouselData > a {
  color: #5d9ad5;
}

@media (max-width: 1000px) {
  .HigherStudies__Carousel {
    column-gap: 2rem;
    height: 600px;
    width: 700px;
    margin-left: 0px;
  }
  .HS__CarouselSpace {
    column-gap: 2rem;
  }
}
.LU__Navigation {
  position: relative;
  left: -100px;
  top: 120px;
}
.RU__Navigation {
  position: relative;
  left: 100px;
  top: 120px;
}

@media (max-width: 800px) {
  .HS__CarouselImg {
    position: relative;
    max-width: 100%;
  }
  .HS__CarouselSpace {
    justify-self: center;
    max-width: 80%;
    flex-direction: column;
    row-gap: 2rem;
  }
  .HS__CarouselData {
    max-width: 100%;
  }
  .HS__CarouselBg {
    margin-top: 25%;
  }
}

@media (max-width: 450px) {
  .HS__CarouselSpace {
    column-gap: 1rem;
    max-width: 100%;
  }
}
#tbg {
}
