@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.empty {
  height: 7em;
}

/* --------- Heading ------------- */

.ContactUsContainer > .heading {
  margin: 0 auto;
  width: 80%;
}

.header {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 0.5em;
  padding-bottom: 2px;
}

.underline {
  margin: 0 auto;
  border-top: solid #009822;
  width: 70px;
  margin-bottom: 2em;
}

iframe {
  margin-top: 3em;
  margin-bottom: 2em;
  width: 100%;
  height: 20em;
  border: 0;
}

/* ------- Side-To-Side --------- */

.sideToSide {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

/* ------- Left --------- */

.address,
.email,
.phone {
  display: flex;
  margin-bottom: 2em;
}

.data {
  margin-left: 1.25em;
}

.semiHeading {
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

.Row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5em;
}

/* ------- Right --------- */

input,
textarea {
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-family: poppins, sans-serif;
  width: 100%;
  padding: 8px;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin-bottom: 8px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}

input:focus,
textarea:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.submitButton {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 3em;
}

button {
  font-family: poppins, sans-serif;
  font-size: 18px;
  background: #3c4dc2;
  border: none;
  width: 100px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

/* button:hover,
button:focus {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
} */
